---
// Redirect from old URL /privacy-policy/cake-privacy to new URL /privacy/cake/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0;url=/privacy/cake/" />
    <link rel="canonical" href="https://www.bysnapps.com/privacy/cake/" />
    <title>Redirecting...</title>
    <script is:inline>
      window.location.replace("/privacy/cake/");
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="/privacy/cake/">Privacy Policy</a>...</p>
  </body>
</html>
